src/test/resources/scheme.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0" elementFormDefault="qualified">
	<xsd:element name="registration" type="registrationType"/>

	<xsd:complexType name="registrationType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="surname" type="xsd:string"/>
			<xsd:element name="age" type="xsd:integer"/>
			<xsd:element name="courseDate" type="xsd:date" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="course_link" type="xsd:anyURI" use="optional"/>
	</xsd:complexType>
</xsd:schema>